<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>variants</key>
	<dict>
		<key>Apps/Rock&amp;Roll-127D21B0-3592-496C-9EEC-76EFC1811BD1.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5879814</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5879814</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13822820</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13822820</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad7,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,3</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,3</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll-1BC92745-3D64-46D1-A430-AE8F564DFDE8.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5889273</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5889273</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13833770</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13833770</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,6</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,5</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,3</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,6</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone11,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll-7F930EA2-352E-4F54-B07F-95915BFE1B6D.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5853588</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5853588</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13796110</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13796110</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone8,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPod7,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone6,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone8,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll-B14FC151-AA31-4F8C-AB8B-504248BD1B3D.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5853687</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5853687</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13796147</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13796147</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone10,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone10,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,7</string>
					<key>os-version</key>
					<string>10</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,9</string>
					<key>os-version</key>
					<string>10</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,3</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone9,8</string>
					<key>os-version</key>
					<string>10</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll-B789E70A-FDDD-4B6B-9B47-BA9836DBB8C3.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5879884</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5879884</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13823225</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13823225</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPad5,3</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,6</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,12</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,3</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,7</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,5</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,7</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,8</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,8</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,4</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,9</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad6,11</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad4,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,5</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad7,6</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPad5,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll-ECC9AC82-C3B0-4C5F-93F8-88B0384B5414.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5889231</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5889231</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13833532</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13833532</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone8,2</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
				<dict>
					<key>device</key>
					<string>iPhone7,1</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll-FA47885D-4E90-4A33-877C-84C99709BDEC.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>5868779</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>5868779</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>13811452</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>13811452</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
			<key>variantDescriptors</key>
			<array>
				<dict>
					<key>device</key>
					<string>iPhone11,8</string>
					<key>os-version</key>
					<string>12</string>
				</dict>
			</array>
		</dict>
		<key>Apps/Rock&amp;Roll.ipa</key>
		<dict>
			<key>limitUncompressedInitialPrefetchedODR</key>
			<integer>2147483648</integer>
			<key>onDemandResourcesAssetPacks</key>
			<dict/>
			<key>sizeCompressedApp</key>
			<integer>6251964</integer>
			<key>sizeCompressedAppAndODR</key>
			<integer>6251964</integer>
			<key>sizeCompressedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedApp</key>
			<integer>14209151</integer>
			<key>sizeUncompressedAppAndODR</key>
			<integer>14209151</integer>
			<key>sizeUncompressedInitialPrefetchedODR</key>
			<integer>0</integer>
			<key>sizeUncompressedInitialPrefetchedODRExceedsLimit</key>
			<false/>
			<key>sizeUncompressedODR</key>
			<integer>0</integer>
			<key>tagsUncompressedInitialPrefetchedODR</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
