<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Rock&amp;Roll.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>978E74AEFC5C8846264AAD01BCE0996211E87FF0</string>
				<key>dateExpires</key>
				<string>2020-12-07</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>978E74AEFC5C8846264AAD01BCE0996211E87FF0</string>
						<key>dateExpires</key>
						<string>2020-12-07</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BWWalkthrough.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TVUP8SF85D</string>
						<key>name</key>
						<string>Metso Minerals Oy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>978E74AEFC5C8846264AAD01BCE0996211E87FF0</string>
						<key>dateExpires</key>
						<string>2020-12-07</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Eureka.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TVUP8SF85D</string>
						<key>name</key>
						<string>Metso Minerals Oy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>978E74AEFC5C8846264AAD01BCE0996211E87FF0</string>
						<key>dateExpires</key>
						<string>2020-12-07</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GEOSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TVUP8SF85D</string>
						<key>name</key>
						<string>Metso Minerals Oy</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>978E74AEFC5C8846264AAD01BCE0996211E87FF0</string>
						<key>dateExpires</key>
						<string>2020-12-07</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>geos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TVUP8SF85D</string>
						<key>name</key>
						<string>Metso Minerals Oy</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TVUP8SF85D.com.example.RocknRoll</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TVUP8SF85D</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>TVUP8SF85D.com.example.RocknRoll</string>
				</array>
			</dict>
			<key>name</key>
			<string>Rock&amp;Roll.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1391ab60-1a78-4be1-a8ee-401e9281a937</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.example.RocknRoll</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TVUP8SF85D</string>
				<key>name</key>
				<string>Metso Minerals Oy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
