<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rock&amp;Roll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8225B18E1F1692B3004C8BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8225B1A21F1692B4004C8BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8225B1AD1F1692B4004C8BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
